# Ignore Terraform working files
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ignore sensitive vars
*.tfvars
*.tfvars.json

# Ignore local environment and editor junk
.env
.vscode/
.idea/
.DS_Store
